<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "jquery-1.9.1.js", "jquery-ui-1.10.1.custom.min.js", "autocomplete-rails.js", "facebox.js" %>
  <%= render 'layouts/facebox' %>
  <%= stylesheet_link_tag "jquery-ui-1.10.1.custom.css", "facebox.css" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
